<div class="container">
	<h1>Welcome {{ session.acc.user.firstname }} {{ session.acc.user.lastname}}</h1>
	<hr>
	<h1><a href="/onTheMenu">Get started and pick your meals!</a></h1>
	<br>
    <h1 class="button"><a href="/user/logout">Logout</a></h1>
</div>