 
 <footer>
      <div class="footer">
        <div class="footer-content">
          <div class="footer-section about">
<h1 class="logo-text"><span>Euphoria</span> Meals</h1>
<p>Try our new service of delicious and fresh meals!
  <br>
  <br>
  <a href="#">Order Now!</a>
</p>
  </div>
<div class="footer-section links">
        <ul>
          <li id="home"><a href="/">Home</a></li>
          
          <li id="menu"><a href='/OnTheMenu'>On the Menu</a> </li>
  
          <li id="Cost"><a href="#">Costing</a> </li>
  
          <li id="blog"><a href="#">Blog</a> </li>
  
          <li id="charity"><a href="#">Food For All - Charity</a> </li>
  
          <li id="faqs"><a href="#">FAQ</a> </li>

          <li id="terms"><a href="#">Terms of Use</a> </li>

          <li id="conditions"><a href="#">Conditions</a> </li>
          
    
        </ul>
      </div>
<div class="footer-section contact">
  <h3><p>Contact Us!</p></h3>
<span><i class="fas fa-phone"></i> 123-456-7890</span>
<span><i class="fas fa-envelope"></i> trahman31@myseneca.ca</span>  
<br>   
<div class="socials">
  <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
  <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
  <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
  <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
</div> 
</div>  
</div>
        <div class="footer-bottom">
          Copyright &copy;  Winter 2021, Tahsin Rahman, WEB322NDD
        </div>
        </div>
      </div>
      </div>
    </footer>