
<div class="header">
    <img class="circular-logo" src="/images/Euphoria.gif"  alt="logo"
height="300"
width="300">
<nav>
      <ul>
        <li id="home"><a href="/">Home</a></li>
        
        <li id="menu"><a href='/onTheMenu'>On the Menu</a> </li>

        <li id="special"><a href="#">Special</a> </li>

        <li id="breakfast"><a href="#">Breakfast</a> </li>

        <li id="ingredients"><a href="#">Ingredients</a> </li>

        <li id="discount"><a href="#">Discount</a> </li>
        
        <li id="vegan"><a href="#">Vegan Menu</a> </li>

       {{#if session.acc}}
	        		<li>
                <!--ref: https://docs.airship.com/guides/messaging/user-guide/personalization/dynamic-content/-->
	        			<a href="{{#eq session.acc.role 'customer'}}/account/customer{{else}}/account/clerk{{/eq}}">
	        				{{#if session.acc}}
	        					My Account
        					{{/if}}
	        			</a>
	        		</li>
	        	{{else}}
        <li id="login"><a href='/user/login'>Log In!</a></li>
        
        <li id="reg"><a href='/user/register'>Sign Up!</a></li>
        {{/if}}
      </ul>
    </nav>
</div>
   