<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/site.css" />
    <script src="https://kit.fontawesome.com/1835f2c2a8.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Source+Serif+Pro&display=swap" rel="stylesheet">
</head>
  <style>A {text-decoration: none;} </style>
  <body>
    {{>header}}
    <br>
    {{>hero}}
    <br>
{{{body}}}
<br>
{{>footer}}
  </body>
</html>